[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
flask-script = "==2.0.5"
flask-migrate = "==2.6.0"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
